body {
  background-color: rgb(252, 227, 231);
  text-align: center;
}

* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(95, 17, 56);
    text-align: center;
}

a {
    color: rgb(95, 17, 56);
}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;

}

#sempre_que_vamos_dormir_eu {
    font-weight: bolder;
 
}

#sempre_que_posso_eu {
    font-weight: bolder;
 
}

#sempre_que_possivel_eu {
    font-weight: bolder;
  
}